@model IEnumerable<SIS.Models.ModuleStandard>

@{
    ViewBag.Title = "EditModuleStandard";
}

<h2>@Html.DisplayFor(model => model.ElementAtOrDefault(0).Course_Module.Module.Name)</h2>

@using (Html.BeginForm("EditModuleStandard", "ModuleStandards", FormMethod.Post))
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MarkType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < Model.Count(); i++)
        {

            <tr>
                <td id="DDL">
                    @Html.Hidden("moduleStandard[" + (@i) + "].Id", Model.ElementAtOrDefault(i).Id)
                    @*@Html.Hidden("moduleStandard[" + (@i) + "].Course_ModuleId",Model.ElementAtOrDefault(i).Course_ModuleId)*@
                    @Html.DropDownList("moduleStandard[" + (@i) + "].MarkTypeId", (SelectList)ViewBag.MT, new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("moduleStandard[" + (@i) + "].LabName", Model.ElementAtOrDefault(i).LabName, new { @class = "form-control", id = "tb", @readonly = "true" })
                </td>
                <td>
                    @Html.TextBox("moduleStandard[" + (@i) + "].Marks", Model.ElementAtOrDefault(i).Marks, new { @class = "form-control" })
                </td>
                <td>
                    <a onclick="return _delete('@Model.ElementAtOrDefault(i).Id')">
                        <i class="fa fa-trash fa-2x" aria-hidden="true" title="delete"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit" class="btn btn-primary" />
    @Html.ActionLink("Back", "ShowStandard");

}
@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
@Scripts.Render("~/Content/plugins/jquery-validate/js")
<script>
    function _delete(id)
    {
        var cf = confirm("Are You Sure?");
        if (cf) {
            $.ajax({
                url: "/ModuleStandards/D/" + id,
                success: function (result) {
                    if (result.deletedRow > 0)
                        location.reload(true);

                    else
                        alert("none")
                },
                error: function () {
                    alert("fail");
                }
            });
        }
    }

    function _Checking()
    {
        if ($("#DDL").eq(5)) {
            $("#tb").attr("readonly", false);
        }
        else {
            $("#tb").attr("readonly", true);
        }
    }

        
    </script>
}