@model IEnumerable<SIS.Models.ModuleStandard>

@{
    ViewBag.Title = "EditModuleStandard";
}

<h2>EditModuleStandard</h2>

@using (Html.BeginForm("EditModuleStandard", "ModuleStandards", FormMethod.Post))
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course_Module.Module.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.Hidden("moduleStandard[" + (@i) + "].Id", Model.ElementAtOrDefault(i).Id)
                    @*@Html.DropDownListFor(m => Model.ElementAt(i).Course_ModuleId, (SelectList)ViewBag.CM, new { @class = "form-control" })*@
                    @Html.Hidden("moduleStandard[" + (@i) + "].Course_ModuleId",Model.ElementAtOrDefault(i).Course_ModuleId)
                    @Html.DisplayFor(m => Model.ElementAt(i).Course_Module.Module.Name)
                </td>
                <td>
                    @*@Html.Hidden("moduleStandard[" + (@i) + "].MarkTypeId", Model.ElementAtOrDefault(i).MarkTypeId)*@
                    @Html.DropDownListFor(m => Model.ElementAt(i).MarkTypeId, (SelectList)ViewBag.MT, new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("moduleStandard[" + (@i) + "].LabName", Model.ElementAtOrDefault(i).LabName, new { @class = "form-control" })
                </td>
                <td>
                    @Html.TextBox("moduleStandard[" + (@i) + "].Marks", Model.ElementAtOrDefault(i).Marks, new { @class = "form-control" })
                </td>
                <td>
                    <a onclick="return _delete('@Model.ElementAtOrDefault(i).Id')">
                        <i class="fa fa-trash fa-2x" aria-hidden="true" title="delete"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit" class="btn btn-primary" />
    @Html.ActionLink("Back", "ShowStandard");

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    function _delete(id) {
        var cf = confirm("Are You Sure?");
        if (cf) {
            $.ajax({
                url: "/ModuleStandards/D/" + id,
                success: function (result) {
                    if (result.deletedRow > 0)
                        $("#" + id).remove();

                    else
                        alert("none")
                },
                error: function () {
                    alert("fail");
                }
            });
        }
    }

        
    </script>
}