@model IEnumerable<SIS.Models.ModuleStandard>

@{
    ViewBag.Title = "Module Course";
}

<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_Module.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marks)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Course_Module.CourseId, "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marks)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
