@model IEnumerable<SIS.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Search Student Attendance</h2>



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassStudent.Student.ID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ClassStudent.Student.Name)
        </th>

        @{ 
            var tempDate = new List<DateTime>();
        }


        @foreach (var i in ViewData["DateList"] as List<DateTime?>)
        {
            <th>
                @i.Value.ToShortDateString()
            </th>
        }

    </tr>


    @{
        int? tempClassID = 0;
        int? tempCount = 0;       
    }


    @for (var a = 0; a < Model.Count(); a++)
    {
        <tr>
            @{


                if (Model.ElementAtOrDefault(a).ClassStudentId == tempClassID)
                {
                    tempClassID = Model.ElementAtOrDefault(a).ClassStudentId;
                    continue;
                }
                else
                {
                    tempClassID = Model.ElementAtOrDefault(a).ClassStudentId;
                    tempCount = Model.Where(x => x.ClassStudentId == tempClassID).Count();
                    <td>
                        @Html.DisplayFor(b => Model.ElementAtOrDefault(a).ClassStudent.Student.ID )
                    </td>
                    <td>
                        @Html.DisplayFor(b => Model.ElementAtOrDefault(a).ClassStudent.Student.Name)
                    </td>

                    for (var d = 0; d < tempCount; d++)
                    {
                        var UpzDate = (List<DateTime?>)ViewData["DateList"]; //14/11 , 15/11

                        for (var e = 0; e < UpzDate.Count(); e++)
                        {


                            if (Model.Where(x => x.ClassStudentId == tempClassID).ElementAtOrDefault(d).TodayDate == UpzDate.ElementAtOrDefault(e))
                            //if (Model.ElementAtOrDefault(d).ClassStudentId == tempClassID && Model.ElementAtOrDefault(d).TodayDate == UpzDate.ElementAtOrDefault(e))
                            {
                                <th>
                                    @Html.DisplayFor(b => Model.Where(x => x.ClassStudentId == tempClassID).ElementAtOrDefault(d).MorningIn)
                                    
                                    @*@Html.DisplayFor(b => Model.Where(x => x.ClassStudentId == tempClassID).ElementAtOrDefault(d).MorningOut)
                                    @Html.DisplayFor(b => Model.Where(x => x.ClassStudentId == tempClassID).ElementAtOrDefault(d).AfternoonIn)
                                    @Html.DisplayFor(b => Model.Where(x => x.ClassStudentId == tempClassID).ElementAtOrDefault(d).AfternoonOut)*@


                                </th>

                            }
                           

                        }

                    }
                }
            }
        </tr>
    }





</table>
