@model IEnumerable<SIS.Models.Attendance>

@{
    ViewBag.Title = "AttendanceList";
}

<h2>Edit Attendance Date</h2>

<script type="text/javascript" src="@Url.Content("~/Scripts/")jquery-1.10.2.js"></script>
<script type="text/javascript">


    //$(document).ready(function () {
    //    var ckbox = $('#checkbox');

    //    $('input').on('click', function () {
    //        if (ckbox.is(':checked')) {
    //            alert('You have Checked it');
    //        } else {
    //            alert('You Un-Checked it');
    //        }
    //    });
    //});

    function CheckMIN()
    {
        //var x = document.getElementsByClassName("MorningInInput");

        //if (document.getElementById("MI").checked) {
        //    x[0].Value = "9:30"
        //}
        //else
        //{
        //    x[0].Value = ""
        //}

        var checkBoxMI = $('#MI');
        $(document).ready(function () {
            $('input').on('click', function () {
                if (checkBoxMI.is(':checked')) {
                    $(".MorningInInput").attr('value', '9:30');
                }
                else {
                    $(".MorningInInput").attr('value', '');
                }



            });
        });
    }

    function CheckMOUT()
    {
        $(document).ready(function () {
            var checkBoxMI = $('#MO');
            $('input').on('click', function () {
                if (checkBoxMI.is(':checked')) {
                    $(".MorningOutInput").attr('value', '12:15');
                }
                else {
                    $(".MorningOutInput").attr('value', '');
                }

            });
        });
    }

    function CheckAIN() {
        var checkBoxMI = $('#AI');
        $(document).ready(function () {
            $('input').on('click', function () {
                if (checkBoxMI.is(':checked')) {
                    $(".AfternoonInInput").attr('value', '13:15');
                }
                else {
                    $(".AfternoonInInput").attr('value', '');
                }

            });
        });
    }

    function CheckAOUT() {
        var checkBoxMI = $('#AO');
        $(document).ready(function () {
            $('input').on('click', function () {
                if (checkBoxMI.is(':checked')) {
                    $(".AfternoonOutInput").attr('value', '16:00');
                }
                else {
                    $(".AfternoonOutInput").attr('value', '');
                }

            });
        });
    }



    //$('#haha input[type=checkbox]').change(function () {
    //    if (this.checked) {
    //        $('#haha input[type=checkbox]').not(
    //                            $(this)).prop('checked', false);
    //    }
    //});

    function Ontime()
    {
        $('.status1 input:checkbox').click(function () {
            $('.status1 input:checkbox').not(this).prop('checked', false),
            $('.Status').attr('value', this.value)

        });
    }

</script>


@using (Html.BeginForm("MarkAttendance", "Attendances", FormMethod.Post))
{
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ClassStudent.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ClassStudent.StudentId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStudent.Student.Name)

            </th>
            <th>
                <input type="checkbox" onclick="CheckMIN()" id="MI"> &nbsp; @Html.DisplayNameFor(model => model.MorningIn)
            </th>
            <th>
                <input type="checkbox" onclick="CheckMOUT()" id="MO"> &nbsp; @Html.DisplayNameFor(model => model.MorningOut)
            </th>
            <th>
                <input type="checkbox" onclick="CheckAIN()" id="AI"> &nbsp; @Html.DisplayNameFor(model => model.AfternoonIn)
            </th>
            <th>
                <input type="checkbox" onclick="CheckAOUT()" id="AO"> &nbsp; @Html.DisplayNameFor(model => model.AfternoonOut)
            </th>
            <th class="status1">
                <input type="checkbox" onclick="Ontime()" id="OnTime" value="Ontime"> <label>OnTime</label> &nbsp;&nbsp;
                <input type="checkbox" onclick="Ontime()" id="Late" value="Late"> <label>Late</label> &nbsp;&nbsp;
                <input type="checkbox" onclick="Ontime()" id="Absent" value="Absent"><label>Absent</label>
            </th>
        </tr>



        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ClassStudent.ClassStudentId)

                    </td>*@
                @*<td>
                        @Html.DisplayFor(x => x.ElementAt(i).ClassStudentId)
                    </td>*@

                <td>
                    @Html.DisplayFor(x => x.ElementAt(i).ClassStudent.StudentId)
                </td>

                <td>
                    @Html.DisplayFor(x => x.ElementAt(i).ClassStudent.Student.Name)
                </td>

                <td>
                    @Html.Hidden("att[" + (@i) + "].Id", Model.ElementAtOrDefault(i).Id)
                    @Html.Hidden("att[" + (@i) + "].ClassStudentID", Model.ElementAtOrDefault(i).ClassStudentId)
                    @Html.Hidden("att[" + (@i) + "].TodayDate", Model.ElementAtOrDefault(i).TodayDate)
                    @*Html.Hidden("att[" + (@i) + "].Status", Model.ElementAtOrDefault(i).Status)*@

                    @Html.TextBox("att[" + (@i) + "].MorningIn", Model.ElementAtOrDefault(i).MorningIn, new { @class = "MorningInInput" })
                </td>

                <td>
                    @Html.TextBox("att[" + (@i) + "].MorningOut", Model.ElementAtOrDefault(i).MorningOut, new { @class = "MorningOutInput" })
                </td>


                <td>
                    @Html.TextBox("att[" + (@i) + "].AfternoonIn", Model.ElementAtOrDefault(i).AfternoonIn, new { @class = "AfternoonInInput" })
                </td>

                <td>
                    @Html.TextBox("att[" + (@i) + "].AfternoonOut", Model.ElementAtOrDefault(i).AfternoonOut, new { @class = "AfternoonOutInput" })
                </td>
                <td>
                    @Html.TextBox("att[" + (@i) + "].Status", Model.ElementAtOrDefault(i).Status, new { @class = "Status" })
                </td>






                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>*@
            </tr>
        }

    </table>

    <input type="submit" value="Submit" class="btn btn-primary" />











}
