@model IEnumerable<SIS.Models.Image>

@{
    ViewBag.Title = "Images";
}

<h2>UploadLab</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

<p>
    @Html.ActionLink("Create New", "UploadLab")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            <a href="@Url.Action("DownloadLab", new { filename = item.FileName })">
                <i class="fa fa-download fa-2x" aria-hidden="true" title="Download"></i>
            </a>

        </td>
        <td>
            <a href="@Url.Action("DeleteLab", new { lab = item.FileName, id =item.Id })">
                <i class="fa fa-trash fa-2x" aria-hidden="true" title="Delete"></i>
            </a>
        </td>
    </tr>
}

</table>
