@model SIS.Models.Package_Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Package_Course</h4>
    <hr style="border-color: black" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMonthlyP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMonthlyP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfterPlnPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfterPlnPay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
