@model IEnumerable<SIS.Models.Module>

@{
    ViewBag.Title = "Module";
}

<br />

<p>
    @Html.ActionLink("Create a New Module", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ModuleCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ModuleCode })
            </td>
        </tr>
    }

</table>

