@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("SetStandard","Create","ModuleStandards")</li>
                    <li>@Html.ActionLink("Intake","Index","Intakes")</li>
                    <li>@Html.ActionLink("UploadFile","Create","Images")</li>
                    <li>@Html.ActionLink("CourseWork","Index","CourseWorks")</li>
                    <li>@Html.ActionLink("Attendance", "ClassAvailable", "Attendances")</li>
                    <li>@Html.ActionLink("Package", "Index", "Package_Course")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

@using SIS.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SbitManagement</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Content/plugins/font-awesome/css")
    @Styles.Render("~/Content/plugins/ionicons/css")
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/dist/css")
    @Styles.Render("~/Content/dist/css/skins")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>SBIT</b></span>
                <span class="logo-lg"><b>Sbit</b>Management</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu"></ul>
                    </li>*@
                    <li class="treeview">
                        <a href="@Url.Action("Index","Student")">
                            <i class="fa fa-users"></i>
                            <span>Student</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        @*<ul class="treeview-menu">
                            <li><a href=""><i class="fa fa-circle-o"></i> Register Student</a></li>
                            <li><a href=""><i class="fa fa-circle-o"></i> Student Details</a></li>
                        </ul>*@
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("ClassAvailable","Attendances")">
                            <i class="fa fa-check-circle"></i>
                            <span>Attendance</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        @*<ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Mark Attendance</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Check Attendance</a></li>
                        </ul>*@
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index","Trainers")">
                            <i class="fa fa-user"></i>
                            <span>Trainers</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        @*<ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Trainers Detail</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Register Trainer</a></li>
                        </ul>*@
                    </li>
                    <li class="treeview">
                        <a href="@Url.Action("Index","Courses")">
                            <i class="fa fa-file"></i>
                            <span>Course</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        @*<ul class="treeview-menu">
                            <li><a href=""><i class="fa fa-circle-o"></i> Diploma IT Support</a></li>
                            <li><a href=""><i class="fa fa-circle-o"></i> Diploma Software Engineer</a></li>
                        </ul>*@
                    </li>

                    <li class="treeview">
                        <a href="@Url.Action("Index","Package_Course")">
                            <i class="fa fa-file-text"></i>
                            <span>Package</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        @*<ul class="treeview-menu">
                            <li><a href=""><i class="fa fa-circle-o"></i> Diploma IT Support</a></li>
                            <li><a href=""><i class="fa fa-circle-o"></i> Diploma Software Engineer</a></li>
                        </ul>*@
                    </li>

                    @*<li id="left-sidebar-menu-calendar">
                        <a href="@Url.Action("Index", "Calendar")">
                            <i class="fa fa-table"></i>
                            <span>TimeTable</span>
                        </a>
                    </li>*@
                    @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-share"></i> <span>Multilevel</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                        <ul class="treeview-menu">
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        </ul>
                    </li>*@
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>BETA</b> v1.0.0
            </div>
            <strong>Copyrights | MVC Application 2016 SeniorProject | Layout &copy; 2016 .</strong> All rights
            reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>


    @Scripts.Render("~/Content/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/Content/bootstrap/js")
    @Scripts.Render("~/Content/plugins/slimscroll/js")
    @Scripts.Render("~/Content/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/Content/dist/js")
    @RenderSection("scripts", required: false)
</body>
</html>