@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403 Error</title>
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/plugins/font-awesome/css")
    @Styles.Render("~/Content/themes/CustomTheme/css")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">403</h1>
                        <h2>You don`t have permission to access on this page</h2>

                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>


    @Scripts.Render("~/Content/plugins/jquery/js")
    @Scripts.Render("~/Content/bootstrap/js")
    @Scripts.Render("~/Content/plugins/fastclick/js")
    @Scripts.Render("~/Content/themes/CustomTheme/js")
    @Scripts.Render("~/Content/plugins/nprogress/js")
</body>
</html>